/* Normalize reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: sans-serif; /* Choose your preferred font family */
  min-height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
}

/* Top navigation */
.top-nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: auto;
}

.top-nav a:hover {
  color: red;
}

.top-nav h1 {
  font-size: 1.5rem; /* Use relative units for responsiveness */
  margin: 0;
}

/* Main image container */
.main-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.main-image-container h2 {
  font-size: 2rem; /* Use relative units for responsiveness */
  margin: 0;
  color: #333; /* Adjust color */
}

.main-image-container img {
  width: 20vw; /* Use viewport units for responsive scaling */
  border-radius: 50%; /* Make profile image circular */
  margin-top: 20px; /* Space between text and image */
}

/* Link images */
.link-images {
  display: flex; /* Arrange link images horizontally */
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.link-images img {
  width: 5vw; /* Use viewport units for responsive scaling */
  cursor: pointer; /* Indicate they are clickable */
  gap: 10px;
}

.link-images img:hover {
  opacity: 0.8; /* Subtle hover effect */
}

/* Information section */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px; /* Adjust padding if needed */
}

/* Table blocks */
.table-block {
  border: 1px solid black;
  background-color: #f2f2f2;
  text-align: center;
  transition: transform 0.5s, background-color 0.2s;
  cursor: pointer;
  padding: 0; /* Remove padding to allow image to fill space */
  max-width: 80vw; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Center horizontally */
}

.table-block img {
  width: 100%; /* Make image fill the width of the table block */
  height: 100%; /* Make image fill the height of the table block */
  object-fit: cover; /* Ensure image covers the entire space */
}

.table-block:hover {
  transform: scale(1.1);
  background-color: #ddd;
}

/* Bottom navigation */
.bottom-nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: auto;
}

.bottom-nav a:hover {
  color: red;
}

.bottom-nav

